

.top-section{
	background-color:#53f5bc;
	padding-right:50%;
	margin-left: 6%;

}
.flex-image{
	display: flex;
	justify-content: flex-start;
	padding-bottom: 3%;
}


img{
	width: 100%;
	border-radius: 50%;
	height: 190px;
	margin-left: 4%;
	margin-top: 1%;
	border: 4px solid #53f5bc;
}
.p1{
	margin-left: 55%;
	color: black;
	font-size: 30px;
	font-weight: bold;
}

.p1 span{
	font-weight: 100;
	color: black;
	padding-left: 10px;
}

.p2{
	margin-left: 45%;
	font-size: 23px;
	color: black;
}
.p2 span{
	color:black;
	padding-left: 5px;
}

.col-div-4{
	width: 30%;
	float: left;
}

.col-div-8{
	width: 69%;
	float: left;
}

.line{
	border-left: 1px solid #c7c7c7;
	height: 1130px;
	width: 0%;
	float: left;
}

.content-box{
	padding: 15px;
}

.head{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 100;
	color: black;
}

.p3{
	color: black;
	font-size: 17px;
}

.fa{
	color: #53f5bc;
}

.skills{
	margin-left: -20px;
	margin-bottom: 0px;
}

.skills li{
	padding: 5px;
	margin-bottom: 7px;	
}

.skills li span{
	color: black;
	background-color: #53f5bc;
	padding: 5px;
	font-size:19px;
}

.p-4{
	font-size: 17px;
	color:black;
}

.a1{
	margin-left: 3px;
	margin-bottom: 5px;
}

.a3{
	margin-left: 3px;
	margin-bottom: 5px;
}

.a2{
	margin-left: 3px;
	margin-bottom: 5px;
}

.a4{
	margin-left: 3px;
	margin-bottom: 5px;
}
.skills-2{
	margin-left: -20px;
	margin-bottom: 0px;
}

.skills-2 li{
	padding: 3px;
	font-size: 14.5px;
}

.skills-2 li span{
	color: black;
	font-size: 17px;
}
.flex-hobbies{
	display: flex;
	justify-content:flex-start;
}
.flex-hobbies-2{
	display: flex;
	justify-content:flex-start;
}